*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
}
.calcGrid{
    display:grid;
    width: 500px;
    min-height:100vh;
    position: relative;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(130px, auto) repeat(5, 100px);
    margin-right: auto;
    margin-left: auto;
    grid-gap: 3px;
    align-content: center;
}
.span-2{
    grid-column: span 2;
}
#window{
    color: white;
    grid-column: span 4;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    font-size: 2rem;
    word-wrap: break-word; /* stays inside window*/
    word-break: break-all;/* breaks words at any point */
}

button{
    background-color: cream;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

#window .previous{
    font-size: 2rem;
}
#window .current{
    font-size: 4rem;
}